{% extends "base.html" %}

{% block content %}





    <div class="col-md-12">

        <form id="userinfo" class="form-horizontal" action="/pushconfig" method="POST">
            <fieldset>

                <!-- Form Name -->
                <legend>vSphere Environment Information</legend>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="vcenter">vCenter IP/Hostname</label>

                    <div class="controls">
                        <input id="vcenter" name="vcenter" type="text" placeholder="192.168.0.1" class="input-xlarge"
                               required="">

                        <p class="help-block">Enter Your vCenter IP or Hostname here</p>
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>

                    <div class="controls">
                        <input id="username" name="username" type="text" placeholder="username" class="input-xlarge"
                               required="">

                        <p class="help-block">Use the same username you use to login to the web client. Requires admin
                            privileges</p>
                    </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>

                    <div class="controls">
                        <input id="password" name="password" type="password" placeholder="" class="input-xlarge"
                               required="">

                        <p class="help-block">Password for the above user</p>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="interval">Interval (s)</label>

                    <div class="controls">
                        <input id="interval" name="interval" type="text" placeholder="300" value="300" class="input-xlarge"
                               required="">

                        <p class="help-block">Interval to collect data (recommend 300s, aka 5 minutes)</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="count">Run Count</label>

                    <div class="controls">
                        <input id="runcount" name="runcount" type="text" placeholder="288" value="288"
                               class="input-xlarge"
                               required="">

                        <p class="help-block"># of Runs</p>
                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="go"></label>

                    <div class="controls">
                        <button type="submit" id="go" name="go" class="btn btn-primary" onsubmit="">Check Credentials &amp; Get Hosts</button>
                    </div>
                </div>

            </fieldset>
        </form>


    </div>


<script>


{% endblock %}